<div class="container">
    <h1 class="subtitle-3"> CONTACTO </h1>
        <div class="row">
            <div class="col-md-6 contact-info pl-2">
                <p><%= image_tag "whatsapp.png", alt: "logo", class: "whatsapp" %>  +56967402603 </p>
                <p><%= image_tag "mail.png", alt: "logo", class: "mail" %> contacto@penalylaboral.cl </p>
                <p><%= image_tag "ubicacion.jpg", alt: "logo", class: "ubicacion" %> Matías Cousiño 82, Of. 409, Santiago, Chile.</p>
                <p><%= image_tag "web.png", alt: "logo", class: "web" %> www.penalylaboral.cl </p>
            </div>
            <div class="col-md-6 contacto">
            <div data-tf-sidetab="CWodWnSj" data-tf-width="320" data-tf-height="400" data-tf-custom-icon="https://images.typeform.com/images/hWRL5epgb8qV" data-tf-button-color="#305DA8" data-tf-button-text="Contacto" data-tf-iframe-props="title=Formulario de Contacto (copia)" data-tf-medium="snippet" style="all:unset;"></div><script src="//embed.typeform.com/next/embed.js"></script>
            </div>      
        </div>
</div>

            
            
          