<div class="container">
    <h1 class="subtitle-3"> CONTACTO </h1>
        <div class="row">
            <div class="col-md-6 mt-5 contact-info">
                <p>(simbolo wsp verde) +56967402603</p>
                <p> contacto@penalylaboral.cl </p>
                <p>(simbolo ubicacion) Matias Cousiño 82, Of. 409, Santiago, Chile.</p>
                <p> www.penalylaboral.cl </p>
            </div>
            <div class="col-md-6 mt-5">
               
            </div>      
        </div>
</div>

            
            
          