<div class="container criminal-law">
    <h1 class="subtitle text-white">DEFENSA PENAL</h1>
    <p class="text-white info"> ¿Necesitas más información?</p>
    <button class="btn btn-custom btn-sm contact-button-2"> CONTÁCTANOS </button>
</div>