<div class="container laboral-law">
    <h1 class="subtitle-2 text-white">DEFENSA LABORAL</h1>
    <p class="text-white info-2"> ¿Necesitas más información?</p>
    <button class="btn btn-custom btn-sm contact-button-2"> CONTÁCTANOS </button>
</div>