<div class="header">
    <div class="container">
        <h1 class="main-title"> DEFENSA JURIDICA PENAL 
        <br />
        Y LABORAL
        <br />
        SANTIAGO – CHILE</h1>
        <button class="btn btn-custom btn-sm contact-button"> CONTÁCTANOS </button>
    </div>
</div>