<div class="header-2">
    <div class="container">
        <h1 class="subtitle-2">Quienes somos</h1> 
    </div>
</div>
<div class="container about-us">
    <p>Somos un equipo de profesionales motivados y comprometidos, con años de experiencia en defensa jurídica de 
    nuestros patrocinados, tanto en el área penal, como en el área laboral.</p>  
    <p>Somos personas comprometidas con la tranquilidad y seguridad de nuestros clientes.</p>
</div>
<div class="container team mt-5 pt-4">
    <h3 class="mb-5 pb-4">LOS PROFESIONALES DE PENALYLABORAL.CL SON:</h3>
        <div class="row">
            <div class="col-md-4">
                <h3 class="title">Cristian Andrés Barros Muñoz (Director)	</h3>
                    <p>
                        <ul>
                            <li>Abogado</li>
                            <li>Juez Árbitro de la Ilustrísima Corte de Apelaciones de Santiago</li>
                            <li>Licenciado en Ciencias Jurídicas y Sociales, Universidad Gabriela Mistral</li>
                            <li>Magíster en Derecho Público, Universidad Del País Vasco (España)</li>
                            <li>Diplomado en Derecho Penal, Universidad Alberto Hurtado</li>
                            <li>Diplomado en Derecho Laboral, Universidad San Sebastián</li>
                            <li>Asesor Legislativo para la Cámara de Diputados de Chile</li>
                            <li>Profesor Ayudante de Cátedra de Derecho Procesal, Universidades Autónoma, Pedro de Valdivia, Ucinf y Andrés Bello</li>
                            <li>Traductor Intérprete Fiscalía Oriente de Santiago (Español, Inglés y Portugués)</li>
                        </ul>
                    </p>
            </div>
            <div class="col-md-4">
                <h3 class="title">Mónica Viviana Donoso Roa</h3>
                    <p>
                        #completar 
                    </p>
            </div>
            <div class="col-md-4">
                <h3 class="title">Maritza Alejandra Ojeda Hidalgo	</h3>
                    <p>
                        #completar
                    </p>
            </div>
        </div>
</div>



        